ion-card-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  img {
    border-radius: 5px;
    box-shadow: 8px 8px 17px #dedede, -8px -8px 17px #e2e2e2;
    width: 20rem;
    height: 20rem;
  }
}

ion-card-content {
  div {
    display: flex;
    flex-direction: column;

    ion-label {
      font-size: 1rem;
    }

    .nome {
      font-weight: bold;
      font-size: 2rem;
    }
  }
}

.round-item {
  margin-bottom: 3px;
  --border-radius: 5px;

  ion-label {
    --color: var(--ion-card-color, var(--ion-item-color, var(--ion-color-step-550, #737373)));
  }
}
