ion-thumbnail {
  img {
    border-radius: 50%;
  }
}

.nome {
  font-weight: bold;
}

ion-item {
  margin: 0 10px 8px 10px;
  box-shadow: 1px 1px 5px #dedede6e, -1px -1px 5px #e2e2e26e;
  --border-radius: 5px;
}
