<ion-header [translucent]="true">
  <ion-toolbar mode="ios" color="light">
    <ion-title color="dark">
      CONTATOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar (input)="filterContatos($event)"></ion-searchbar>

  <ion-list mode="md">
    <ion-item *ngFor="let contato of contatosFilter" lines="none" color="light" button detail (click)="goToContato(contato)">
      <ion-thumbnail slot="start">
        <img [src]="contato.foto">
      </ion-thumbnail>

      <div>
        <ion-label class="nome">{{ contato.nome }}</ion-label>
        <ion-label>{{ contato.email }}</ion-label>
        <ion-label>{{ contato.id }}</ion-label>
      </div>

    </ion-item>
  </ion-list>
</ion-content>
